.icon {
	stroke-width: 0.5;
	fill: none;
	pointer-events: none;
}

.none {
	fill: none;
	stroke: none;
}

.standart {
	stroke: black;
}

.alert {
	stroke: red;
}

.purple {
	stroke: #432eab;
}

.clickable :not(.disabled) {
	cursor: pointer;
	pointer-events: all;
}

.disabled {
	opacity: 0.4;
	cursor: not-allowed;
}

.icon > button:hover {
	outline-offset: 3px;
	outline: 1px dashed #432eab;
}
