.card {
	border: none;
	outline: none;
	box-shadow: none;
	overflow: hidden;
	padding: 24px;

	&[role='card']:hover {
		cursor: pointer;
		outline: #d4defe solid 1.5px;
		transform: scale(1.01);
		box-shadow: 0px 0px 30px 0px #473c944f;
	}
	transition:
		all ease 0.3s,
		outline 0s;
}

.standart {
	width: 360px;
	height: 320px;
}

.formCard {
	width: 500px;
	height: 485px;
}

.max {
	width: 100%;
}

.shadow {
	box-shadow: 0px 0px 20px 0px #0000001a;

	&[role='modal'] {
		box-shadow: 0px 0px 20px 0px #000000a1;
	}
}

.normal {
	background: white;
}

.light {
	background: lightblue;
}

.outline {
	border: 2px solid aqua;
}

.standart {
	border-radius: 16px;
}

.partial {
	border-radius: 24px;
}

.round {
	border-radius: 40px;
}

.nopaddings {
	padding: 0;
}
